<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-logo">

        </div>
        <div class="navbar-container">
            <div class="navbar">
                <div class="navbar-items">
                    <ul class="navbar-items-ul">
                        <li><a href="/">Home</a></li>
                        <li>Bicicletas</li>
                        <li>Componentes</li>
                        <li>Accesorios</li>
                    </ul>
                </div>
                <div class="navbar-search">
                    <form action="#" method="GET">
                        <div class="input-container">
                            <input type="text" placeholder="Buscar...">
                            <button type="submit" class="button-buscar">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                    <a href="/carrito" class="navbar-carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="carrito-container">
            <div class="carrito-products-container">
                <div class="carrito-products">
                    <div class="carrito-product">
                        <div class="carrito-product-img">
                            
                        </div>
                        <div class="carrito-product-title">
                            <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                        </div>
                        <div class="carrito-product-price">
                            <p>$150.000</p>
                        </div>
                        <div class="carrito-product-quantity">
                            <p>- 150 +</p>
                        </div>
                        <div class="carrito-product-total">
                            <p>$150.000</p>
                        </div>
                    </div>
                    <div class="carrito-product">
                        <div class="carrito-product-img">
                            
                        </div>
                        <div class="carrito-product-title">
                            <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                        </div>
                        <div class="carrito-product-price">
                            <p>$150.000</p>
                        </div>
                        <div class="carrito-product-quantity">
                            <p>- 150 +</p>
                        </div>
                        <div class="carrito-product-total">
                            <p>$150.000</p>
                        </div>
                    </div>
                    <div class="carrito-product">
                        <div class="carrito-product-img">
                            
                        </div>
                        <div class="carrito-product-title">
                            <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                        </div>
                        <div class="carrito-product-price">
                            <p>$150.000</p>
                        </div>
                        <div class="carrito-product-quantity">
                            <p>- 150 +</p>
                        </div>
                        <div class="carrito-product-total">
                            <p>$150.000</p>
                        </div>
                    </div>
                    <div class="carrito-product">
                        <div class="carrito-product-img">
                            
                        </div>
                        <div class="carrito-product-title">
                            <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                        </div>
                        <div class="carrito-product-price">
                            <p>$150.000</p>
                        </div>
                        <div class="carrito-product-quantity">
                            <p>- 150 +</p>
                        </div>
                        <div class="carrito-product-total">
                            <p>$150.000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carrito-descuento-total-container">
                <div class="carrito-descuento-total">
                    <div class="carrito-descuento">
                        <div class="carrito-descuento-title">
                            <p>Codigo de descuento</p>
                        </div>
                        <div class="carrito-descuento-input-button-container">
                            <div class="carrito-descuento-input">
                                <input type="text" name="cod-descuento" id="cod-descuento">
                            </div>
                            <div class="carrito-descuento-button">
                                <button>Aplicar</button>
                            </div>
                        </div>
                    </div>
                    <div class="carrito-total-container">
                        <div class="carrito-total">
                            <div class="carrito-total-subtotales-container">
                                <div class="carrito-total-subtotales">
                                    <p>Subtotal</p>
                                    <p>$600.000</p>
                                </div>
                                <div class="carrito-total-descuentos">
                                    <p>Descuentos</p>
                                    <p>$150.000</p>
                                </div>
                            </div>
                            <div class="carrito-total-total">
                                <p>Total</p>
                                <p>$450.000</p>
                            </div>
                        </div>
                        <div class="carrito-total-buttons">
                            <div class="carrito-total-button-fin">
                                <button>Finalizar compra</button>
                            </div>
                            <div class="carrito-total-button-cont">
                                <button>Seguir comprando</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section-container">
                <div class="footer-logo-container">
                    <div class="footer-logo">

                    </div>
                </div>
                <div class="footer-politicas-container">
                    <div class="footer-politicas">
                        <ul>
                            <li>Politica de privacidad</li>
                            <li>Envios</li>
                            <li>Politicas de devolucion</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-socials-container">
                    <footer class="footer-socials">
                        <ul>
                            <li><i class="fa-brands fa-facebook"></i></li>
                            <li><i class="fa-brands fa-instagram"></i></li>
                            <li><i class="fa-brands fa-tiktok"></i></li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>