<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-logo">

        </div>
        <div class="navbar-container">
            <div class="navbar">
                <div class="navbar-items">
                    <ul class="navbar-items-ul">
                        <li>Home</li>
                        <li>Bicicletas</li>
                        <li>Componentes</li>
                        <li>Accesorios</li>
                    </ul>
                </div>
                <div class="navbar-search">
                    <form action="#" method="GET">
                        <div class="input-container">
                            <input type="text" placeholder="Buscar...">
                            <button type="submit" class="button-buscar">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main-imagen">
            <img src="images/D_NQ_NP_804763-MLA51468815069_09.jpg" alt="">
        </div>
        <div class="main-categorias">
            <div class="categoria">
                <button class="categoria-button">Montaña</button>
            </div>
            <div class="categoria">
                <button class="categoria-button">Ruta</button>
            </div>
            <div class="categoria">
                <button class="categoria-button">Triatlon</button>
            </div>
            <div class="categoria">
                <button class="categoria-button">Paseo</button>
            </div>
        </div>
        <div class="main-products">
            <div class="products-container">
                <div class="products">
                    <div class="product">
                        <div class="product-image">
                            
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section-container">
                <div class="footer-logo-container">
                    <div class="footer-logo">

                    </div>
                </div>
                <div class="footer-politicas-container">
                    <div class="footer-politicas">
                        <ul>
                            <li>Politica de privacidad</li>
                            <li>Envios</li>
                            <li>Politicas de devolucion</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-socials-container">
                    <footer class="footer-socials">
                        <ul>
                            <li><i class="fa-brands fa-facebook"></i></li>
                            <li><i class="fa-brands fa-instagram"></i></li>
                            <li><i class="fa-brands fa-tiktok"></i></li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>