<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-logo">

        </div>
        <div class="navbar-container">
            <div class="navbar">
                <div class="navbar-items">
                    <ul class="navbar-items-ul">
                        <li><a href="/">Home</a></li>
                        <li>Bicicletas</li>
                        <li>Componentes</li>
                        <li>Accesorios</li>
                    </ul>
                </div>
                <div class="navbar-search">
                    <form action="#" method="GET">
                        <div class="input-container">
                            <input type="text" placeholder="Buscar...">
                            <button type="submit" class="button-buscar">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                    <a href="/carrito" class="navbar-carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="register-container">
            <div class="register">
                <p>Registrate</p>
                <div class="register-nombre-apellido">
                    <input type="text" name="register-nombre" id="register-nombre" placeholder="Nombre">
                    <input type="text" name="register-apellido" id="register-apellido" placeholder="Apellido">
                </div>
                <div class="register-email">
                    <input type="email" name="register-email" id="register-email" placeholder="Email">
                </div>
                <div class="register-password">
                    <input type="password" name="register-password" id="register-password" placeholder="Contraseña">
                    <input type="password" name="register-rpassword" id="register-rpassword" placeholder="Repetir contraseña">
                </div>
                <div class="register-button">
                    <button>Registrarse</button>
                </div>
                <div class="register-login">
                    <p>¿Ya tienes cuenta? <a href="/login">Ingresar</a></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section-container">
                <div class="footer-logo-container">
                    <div class="footer-logo">

                    </div>
                </div>
                <div class="footer-politicas-container">
                    <div class="footer-politicas">
                        <ul>
                            <li>Politica de privacidad</li>
                            <li>Envios</li>
                            <li>Politicas de devolucion</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-socials-container">
                    <footer class="footer-socials">
                        <ul>
                            <li><i class="fa-brands fa-facebook"></i></li>
                            <li><i class="fa-brands fa-instagram"></i></li>
                            <li><i class="fa-brands fa-tiktok"></i></li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>