.crear-container{
    height: 700px;
    width: 70%;
    margin: 0% 15% 0% 15%;
    padding-top: 30px;
}
.crear-producto{
    width: 70%;
    margin: 0% 15% 0% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.producto-nombre, .producto-colores, .producto-precio, .producto-descripcion{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0% 10% 0% 10%;
}
.producto-nombre input, .producto-colores input, .producto-precio input{
    width: 50%;
    border-radius: .375em;
    outline-color: transparent;
    border-color: transparent;
    height: 40px;
    padding: 3px;
}
.producto-descripcion input{
    width: 50%;
    border-radius: .375em;
    outline-color: transparent;
    border-color: transparent;
    height: 80px;
    padding: 3px;
    text-align: start;
}
.producto-descripcion input::-webkit-input-placeholder {
    text-align: start;
  }
.agregar-button button{
    margin-top: 14px;
    border-radius: .375em;
    background-color: var(--button-bg-color);
    text-decoration: none;
    border-color: transparent;
    padding: 15px;
    cursor: pointer;
    font-size: large;
}