<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')  %>
        <%- include('./partials/csscarrito')  %>
    </head>
<body>
    <%- include('./partials/header')  %>
    <main>
        <div class="carrito-container">
            <div class="carrito-products-container">
                <div class="carrito-products">
                    <div class="carrito-product">
                        <div class="carrito-product-img">
                            
                        </div>
                        <div class="carrito-product-title">
                            <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                        </div>
                        <div class="carrito-product-price">
                            <p>$150.000</p>
                        </div>
                        <div class="carrito-product-quantity">
                            <p>- 150 +</p>
                        </div>
                        <div class="carrito-product-total">
                            <p>$150.000</p>
                        </div>
                    </div>
                    <div class="carrito-product">
                        <div class="carrito-product-img">
                            
                        </div>
                        <div class="carrito-product-title">
                            <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                        </div>
                        <div class="carrito-product-price">
                            <p>$150.000</p>
                        </div>
                        <div class="carrito-product-quantity">
                            <p>- 150 +</p>
                        </div>
                        <div class="carrito-product-total">
                            <p>$150.000</p>
                        </div>
                    </div>
                    <div class="carrito-product">
                        <div class="carrito-product-img">
                            
                        </div>
                        <div class="carrito-product-title">
                            <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                        </div>
                        <div class="carrito-product-price">
                            <p>$150.000</p>
                        </div>
                        <div class="carrito-product-quantity">
                            <p>- 150 +</p>
                        </div>
                        <div class="carrito-product-total">
                            <p>$150.000</p>
                        </div>
                    </div>
                    <div class="carrito-product">
                        <div class="carrito-product-img">
                            
                        </div>
                        <div class="carrito-product-title">
                            <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                        </div>
                        <div class="carrito-product-price">
                            <p>$150.000</p>
                        </div>
                        <div class="carrito-product-quantity">
                            <p>- 150 +</p>
                        </div>
                        <div class="carrito-product-total">
                            <p>$150.000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carrito-descuento-total-container">
                <div class="carrito-descuento-total">
                    <div class="carrito-descuento">
                        <div class="carrito-descuento-title">
                            <p>Codigo de descuento</p>
                        </div>
                        <div class="carrito-descuento-input-button-container">
                            <div class="carrito-descuento-input">
                                <input type="text" name="cod-descuento" id="cod-descuento">
                            </div>
                            <div class="carrito-descuento-button">
                                <button>Aplicar</button>
                            </div>
                        </div>
                    </div>
                    <div class="carrito-total-container">
                        <div class="carrito-total">
                            <div class="carrito-total-subtotales-container">
                                <div class="carrito-total-subtotales">
                                    <p>Subtotal</p>
                                    <p>$600.000</p>
                                </div>
                                <div class="carrito-total-descuentos">
                                    <p>Descuentos</p>
                                    <p>$150.000</p>
                                </div>
                            </div>
                            <div class="carrito-total-total">
                                <p>Total</p>
                                <p>$450.000</p>
                            </div>
                        </div>
                        <div class="carrito-total-buttons">
                            <div class="carrito-total-button-fin">
                                <button>Finalizar compra</button>
                            </div>
                            <div class="carrito-total-button-cont">
                                <button>Seguir comprando</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>