<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')  %>
        <%- include('./partials/csscrear')  %>
    </head>
<body>
    <%- include('./partials/header')  %>
    <main>
        <div class="crear-container">
                <form class="formulario" action="/crear/addproduct" method="POST" id="addproduct" class="crear-producto">
                <p>Añadir producto</p>
                <div class="producto-nombre">
                    <input type="text" name="productoNombre" id="productoNombre" placeholder="Nombre">
                </div>
                <div class="producto-descripcion">
                    <input type="text" name="productoDesc" id="productoDesc" placeholder="Descripcion">
                </div>
                <div class="producto-colores">
                    <input list="colores" id="productoColor" name="productoColor" placeholder="Color" />
                        <datalist id="colores">
                            <option value="Rojo"></option>
                            <option value="Verde"></option>
                            <option value="Azul"></option>
                            <option value="Blanco"></option>
                            <option value="Negro"></option>
                        </datalist>
                </div>
                <div class="producto-precio">
                    <input type="text" name="productoPrecio" id="productoPrecio" placeholder="Precio">
                </div>
                <label for="producto-imagen">Subir imagen del producto</label>
                <div class="producto-imagen">
                    <input type="file" name="producto-imagen" id="producto-imagen" placeholder="Imagen">
                </div>
                <div class = 'errores'>
                    <ul></ul>
                </div>
                <div class="agregar-button">
                    <button type="submit">Agregar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/crear-script.js"></script>
</body>
</html>