<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')  %>
        <%- include('./partials/cssedicion')  %>
    </head>
<body>
    <%- include('./partials/header')  %>
    <main>
<table>
    <thead>
        <tr>
            <th>Imagen </th>
            <th>Nombre del Producto </th>
            <th>Precio </th>
            <th>Descripción </th>
            <th>Categoría </th>
            <th>Colores </th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <div class="product1">
            <tr>
                <td class="prodimg">URL de la imagen del producto 4</td>
                <td class="prodname">Producto 4</td>
                <td class="prodprice">Precio del producto 4</td>
                <td class="prodescript">Descripción del producto 4</td>
                <td class="prodcatt">Categoría del producto 4</td>
                <td class="prodcolors">Colores del producto 4</td>
                <td><button>Editar</button></td>
            </tr>
        </div>    
        <div class="product2">
            <tr>
                <td class="prodimg">URL de la imagen del producto 4</td>
                <td class="prodname">Producto 4</td>
                <td class="prodprice">Precio del producto 4</td>
                <td class="prodescript">Descripción del producto 4</td>
                <td class="prodcatt">Categoría del producto 4</td>
                <td class="prodcolors">Colores del producto 4</td>
                <td><button>Editar</button></td>
        </tr>
    </div>
    <div class="product3">
        <tr>
            <td class="prodimg">URL de la imagen del producto 4</td>
                <td class="prodname">Producto 4</td>
                <td class="prodprice">Precio del producto 4</td>
                <td class="prodescript">Descripción del producto 4</td>
                <td class="prodcatt">Categoría del producto 4</td>
                <td class="prodcolors">Colores del producto 4</td>
                <td><button>Editar</button></td>
    </tr>
</div>
<div class="product4">
    <tr>
        <td class="prodimg">URL de la imagen del producto 4</td>
        <td class="prodname">Producto 4</td>
        <td class="prodprice">Precio del producto 4</td>
        <td class="prodescript">Descripción del producto 4</td>
        <td class="prodcatt">Categoría del producto 4</td>
        <td class="prodcolors">Colores del producto 4</td>
        <td><button>Editar</button></td>
</tr>
</div>
        <!-- Agrega más filas según sea necesario -->
    </tbody>
</table>
    <div class = "Agregar">
    <label>¿Deseas agregar un producto?</label>
    <button>Agregar Producto</button>
    </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>