<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %>
<body>
    <%- include('./partials/header')  %>
    <main>
        <div class="main-imagen">
            <img src="images/D_NQ_NP_804763-MLA51468815069_09.jpg" alt="">
        </div>
        <div class="main-categorias">
            <div class="categoria">
                <button class="categoria-button">Montaña</button>
            </div>
            <div class="categoria">
                <button class="categoria-button">Ruta</button>
            </div>
            <div class="categoria">
                <button class="categoria-button">Triatlon</button>
            </div>
            <div class="categoria">
                <button class="categoria-button">Paseo</button>
            </div>
        </div>
        <div class="main-products">
            <div class="products-container">
                <div class="products">
                    <div class="product">
                        <div class="product-image">
                            
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-image">
    
                        </div>
                        <div class="product-details">
                            <div class="product-title">
                                <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                            </div>
                            <div class="product-price">
                                <p>$150.000</p>
                            </div>
                        </div>
                        <div class="product-buy">
                            <button class="product-buy-button"><a href="/producto">Comprar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>