<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')  %>
        <%- include('./partials/csslogin')  %>
    </head>
<body>
    <%- include('./partials/header')  %>
    <main>
        <form class = "formulario" action="/login" method="POST">
        <div class="login-container">
            <div class="login">
                <p>Logeate</p>
                <div class="login-email">
                    <input type="email" name="login_email" id="login_email" placeholder="Email">
                </div>
                <div class="login-password">
                    <input type="password" name="login_password" id="login_password" placeholder="Contraseña">
                </div>
                <div class="login-remember">
                    <input type="checkbox" name="login_rememberpassword" id="login_rememberpassword">Recordarme
                </div>
                <div class="login-button">
                    <button type="submit">Entrar</button>
                </div>
                <div class = 'errores'>
                    <ul></ul>
                </div>
            </form>
                <div class="login-register">
                    <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
                </div>
                <div class="login-forgot">
                    <p>Recuperar contraseña</p>`
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/login-script.js"></script>
</body>
</html>