<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')  %>
        <%- include('./partials/cssproductpage')  %>
    </head>
<body>
    <%- include('./partials/header')  %>
    <main>
        <div class="productpage-container">
            <div class="productpage-categoria">
                <p>Inicio / Categoria / Producto</p>
            </div>
            <div class="productpage">
                <div class="productpage-image">

                </div>
                <div class="productpage-details">
                    <div class="productpage-title">
                        <p>BICICLETA GIANT ANTHEM ADVANCED PRO 29 3 AMBER M (2022)</p>
                    </div>
                    <div class="productpage-sku">
                        <p>SKU: 13803</p>
                    </div>
                    <div class="productpage-stock">
                        <p>EN STOCK / SIN STOCK</p>
                    </div>
                    <div class="productpage-price">
                        <p>$150.000</p>
                    </div>
                    <div class="productpage-cards">
                        <img src="/images/amex___956ba09910f8efa620384a509.png" alt="" height="26" width="42">
                        <img src="/images/cabal___e6ad3ea9bd03671b29115c7a.png" alt="" height="26" width="42">
                        <img src="/images/mastercard___bc7d9dc5b069652ca83.png" alt="" height="26" width="42">
                        <img src="/images/visa___a3f0b169a7e1ba7c22ffff644.png" alt="" height="26" width="42">
                    </div>
                    <div class="productpage-button">
                        <button>AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>