<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head')  %>
        <%- include('./partials/cssregister')  %>
    </head>
<body>
    <%- include('./partials/header')  %>
    <main>
        
    </main>
    <%- include('./partials/footer') %>
</body>
</html>