<footer>
    <div class="footer-container">
        <div class="footer-section-container">
            <div class="footer-logo-container">
                <div class="footer-logo">
                </div>
            </div>
            <div class="footer-politicas-container">
                <div class="footer-politicas">
                    <ul>
                        <li>Politica de privacidad</li>
                        <li>Envios</li>
                        <li>Politicas de devolucion</li>
                    </ul>
                </div>
            </div>
            <div class="footer-socials-container">
                <footer class="footer-socials">
                    <ul>
                        <li><i class="fa-brands fa-facebook"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li><i class="fa-brands fa-tiktok"></i></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</footer>