<header>
    <div class="header-logo">
    </div>
    <div class="navbar-container">
        <div class="navbar">
            <div class="navbar-items">
                <ul class="navbar-items-ul">
                    <li><a href="/">Home</a></li>
                    <li>Bicicletas</li>
                    <li>Componentes</li>
                    <li>Accesorios</li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
            <div class="navbar-search">
                <form action="#" method="GET">
                    <div class="input-container">
                        <input type="text" placeholder="Buscar...">
                        <button type="submit" class="button-buscar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
                <a href="/carrito" class="navbar-carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </div>
</header>